//
// Redactor
// ---------------------------------

.redactor-toolbar
  display: block !important
  background: $sidebar-bg

  li
    a
      color: white
    a.redactor-act,
    a:active
      color: white
      background: black
